/* src/resources/App.css */
.App {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .App-header {
    background-color: #f0f0f0;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .toeic {
    margin-right: 40px;
    margin-left: 150px;
    color: black;
  }
  
  .nav-links a {
    margin-right: 40px;
    color: #007bff;
    text-decoration: none;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    margin-left: auto; 
  }
  
  .user {
    margin-right: 20px;
  }
  
  .user p {
    margin-bottom: 10px;
    color: #007bff; 
  }
  
  .user button {
    margin-left: 40px;
    margin-right: 140px; 
    background-color: #d9d9d9; 
    color: black; 
    border: none;
    padding: 8px 16px; 
    border-radius: 20px; 
    cursor: pointer;
  }
  
  