.test-page {
    padding: 20px;
}

.timer-container {
    display: flex;
    justify-content: flex-end; /* Căn lề phải */
    margin-bottom: 20px;
}

.timer {
    background-color: #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
}

.content {
    display: flex;
}

.sidebar {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    margin-right: 20px;
}

.exam-title {
    background-color: #ccc; /* Màu xám */
    padding: 10px; /* Khoảng cách trong */
    border-radius: 5px;
    display: inline-block; /* Để kích thước vừa với nội dung */
    margin-bottom: 40px; /* Tạo khoảng cách phía dưới */
    font-size: 24px; /* Tăng kích thước font chữ */
    font-weight: bold; /* In đậm */
}

.sidebar h3 {
    margin: 10px 0;
    margin-bottom: 30px; /* Tạo khoảng cách phía dưới */
}

.test-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px; /* Khoảng cách giữa các cột ít hơn */
    row-gap: 10px; /* Giữ nguyên khoảng cách giữa các hàng */
}

.test-square {
    width: 60px; /* Thay đổi kích thước rộng */
    height: 60px; /* Thay đổi kích thước cao */
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; /* Kích thước font chữ */
    font-weight: bold; /* In đậm */
}

.green-square {
    background-color: #4CAF50; /* Màu xanh lá cây */
}

.submit-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

.submit-button:hover {
    background-color: #45a049;
}

.test-area {
    flex-grow: 1;
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.test-area h2 {
    margin-top: 0;
    text-align: left; /* Căn lề trái */
}

.question {
    margin-bottom: 20px;
    text-align: left; /* Căn lề trái */
}

.paragraph {
    text-align: left; /* Căn lề trái đoạn văn */
    margin-bottom: 20px; /* Tạo khoảng cách giữa các đoạn văn */
}

.paragraph p + p {
    margin-top: 20px; /* Khoảng cách giữa các đoạn văn */
}
.resizable-container {
    border: 1px solid #ccc; 
    padding: 10px;
    resize: both; 
    overflow: auto; 
    width: 100%; 
    max-width: 100%; 
    margin-bottom: 30px; 
  }
.options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Khoảng cách giữa các lựa chọn */
    align-items: center;
}

.options .question-number {
    font-weight: bold;
    margin-right: 10px;
}

.options label {
    display: flex;
    align-items: center;
    margin-right: 20px; 
}

.options input[type="radio"] {
    margin-right: 5px; /* Khoảng cách giữa ô tròn và văn bản */
}

.next-button {
    margin-top: auto; /* Đẩy nút xuống dưới cùng */
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    align-self: flex-end; /* Căn lề phải */
}

.next-button:hover {
    background-color: #45a049;
}
