.toeic-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.result-content {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.result-text {
  width: 100px; 
  height: 100px;
  background-color: white; 
  border: 2px solid black; 
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  color: blue; 
  margin-left: 800px; 
}


.result-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-item {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px 0;
  width: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.result-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-buttons {
  display: flex;
  gap: 10px;
}

.view-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}
