.toeic-practice {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .practice-content {
    display: flex;
    align-items: flex-start;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .practice-image {
    width: 300px;
    height: auto;
    margin-right: 200px; 
    border-radius: 10px;
  }
  
  .practice-text {
    max-width: 600px;
    text-align: left;
  }
  
  .practice-text h2 {
    color: #21689b;
    margin-bottom: 10px;
    font-size: 2em;
  }
  
  .practice-text p {
    color: #000;
    font-size: 1.2em;
  }
  
  .test-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .test-item {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px 0;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  
  .test-buttons {
    display: flex;
    gap: 10px;
  }
  
  .view-button, .edit-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .view-button {
    background-color: #007bff;
    color: white;
  }
  
  .edit-button {
    background-color: #ffc107;
    color: white;
  }
  