.toeic-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.result-content {
  display: flex;
  align-items: flex-start;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.result-text {
  max-width: 600px;
  text-align: left; /* Căn lề phải */
}
.result-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-item {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px 0;
  width: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.result-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-buttons {
  display: flex;
  gap: 10px;
}

.view-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}
